.manage-users-container {
  padding: 20px;
  background: #f9f9f9;
  width: 90%;
  margin: 0 auto;
}

.user-header,
.user-row {
  display: grid;
  grid-template-columns: 1.6fr 2fr 1fr 1fr 0.8fr;
  padding: 10px;
  align-items: center;
  gap: 30px;
}

.user-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.user-row {
  border-bottom: 1px solid #ddd;
}

select {
  padding: 5px;
}

.apply-btn{
  padding: 6px 8px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.apply-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
